#reveal1 {
    opacity: 0;
    -webkit-transform: scale(0.9);
         -moz-transform: scale(0.9);
            -ms-transform: scale(0.9);
             -o-transform: scale(0.9);
                    transform: scale(0.9);
    -webkit-transition: all 1s ease-in-out;
         -moz-transition: all 1s ease-in-out;
            -ms-transition: all 1s ease-in-out;
             -o-transition: all 1s ease-in-out;
                    transition: all 1s ease-in-out;
    margin-right: 0px;

}
#reveal1.visible {
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}

#reveal1.chartVisible {
  margin-right: 650px;
}

#reveal2 {
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
       -moz-transition: all 1s ease-in-out;
          -ms-transition: all 1s ease-in-out;
           -o-transition: all 1s ease-in-out;
                  transition: all 1s ease-in-out;

}
#reveal2.visible {
  opacity: 1;
  -webkit-transform: none;
       -moz-transform: none;
          -ms-transform: none;
           -o-transform: none;
                  transform: none;
}

svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}


body {
    animation: fadein 2s; 
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
   }
   @keyframes fadein {
    0% {
    opacity:0;
    }
    100% {
    opacity:1;
    }
    
   }



#subtitle {
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
  }

#title {
    font-size: 5rem;
    text-align: center;
    font-weight: 700;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
  }
  

#caption {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
  }


#source {
  font-size: 1rem;
  text-align: center;
  font-weight: 700;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}


.tooltip {
    font-size: 1rem;
    text-align: left;
    font-weight: 700;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
  }

.center {
    display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
}

.advice {
  display: block;
  margin-left: auto;
  margin-right: auto;
  white-space: pre-line;
  color: #818181;
  font-size: 1rem;
  text-align: center;
  font-weight: 700;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}

image {
  display: block;
  position: relative;
  height: auto;
  object-position: 50% 50%;
}



.sidebar {
  font-size: .5rem;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
  height: 100%;
  width: 85px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #252525;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  white-space: nowrap;
}


.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}



.material-icons,
.icon-text {
  vertical-align: middle;
}

.material-icons {
  margin-right: 30px
}



@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}



.sidebar-right {
  opacity: 0;
  font-size: .5rem;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
  height: 100%;
  width: 700px;
  position: fixed;
  z-index: -10;
  top: 0;
  right: 0;
  background-color: #252525;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  white-space: nowrap;
}

.sidebar-right.visible {
  opacity: 1;
  z-index: 1;
}


.sidebar-right a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidebar-right a:hover {
  color: #f1f1f1;
}

.slider text {
  font-size: 12px;
}

.slider {
  cursor: pointer;
}

.parameter-value path {
  fill: #a6dcd4;
}


#play-button {
  background: #f08080;
  padding-right: 26px;
  border-radius: 3px;
  border: none;
  color: white;
  margin: 0;
  position: absolute;
  top:20%;
  left: 45% ;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0 12px;
  width: 10%;
  cursor: pointer;
  height: 30px;
  color:white;
  font-size: 1rem;
  text-align: center;
  font-weight: 700;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}

#play-button:hover {
  background-color: #696969;
}


.track-overlay {
  opacity:0
}

#value-time{
  color:white;
  font-size: 1rem;
  text-align: center;
  font-weight: 700;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}

#slider-time{
  color:white;
  font-size: .75rem;
  text-align: center;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}
