<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Wikipedia Project</title>

        <!-- https://d3js.org/ -->
        <script type="text/javascript" src="/static/js/d3.v7.min.js"></script>
        
        <!-- core code  -->
        <script type="text/javascript" src="/static/js/script.js"></script>
        <link rel="stylesheet" href="/static/css/main.css">
    </head>

    
    <body  onload="createViz();">
        
        <div id="main">
            <h1> Wikipedia top pages views visualization</h1>
            <a href="static/templates/treemap.html">TreeMap</a>
            
        </div>
    </body>

    <footer>
        INF552 Project
    </footer>
</html>
